.header {
  width: 100%;
  box-shadow: -1px 1px 10px 0px rgba(66, 68, 90, 1);
  height: 50px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 15px;
  margin-left: 10px;
}

.link {
  text-decoration: none;

  cursor: pointer;
  font-size: 24px;
}
